
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-section {
    flex: 0 0 100%;
    transition: transform 0.3s ease;
  }
  .details {
    overflow: hidden;
  }

  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  